[submodule "blogpessoal_react"]
	path = blogpessoal_react
	url = git@github.com:vsantosj/blogpessoal_react.git
[submodule "portifolio_gen"]
	path = portifolio_gen
	url = git@github.com:vsantosj/portifolio_gen.git
[submodule "react_playground_ts"]
	path = react_playground_ts
	url = git@github.com:vsantosj/react_playground_ts.git
[submodule "projeto_final_bloco_01"]
	path = projeto_final_bloco_01
	url = git@github.com:vsantosj/projeto_final_bloco_01.git
[submodule "Game_Vault"]
	path = Game_Vault
	url = git@github.com:vsantosj/Game_Vault.git
[submodule "projeto_final_bloco_02"]
	path = projeto_final_bloco_02
	url = git@github.com:vsantosj/projeto_final_bloco_02.git
[submodule "Generation_exercicios"]
	path = Generation_exercicios
	url = git@github.com:vsantosj/Generation_exercicios.git
